## Assignment - 2

Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
##Ans:
## This is single line comment

"""
This is multi
line
Comment
"""

'\nThis is multi\nline\nComment\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans: Variables hold values and we can access that value by calling that particular variable.

In python, we just need to declare any variable by allowed naming convention and then = value. The python interpreter will dynamically figure it out the data type of that variable.

e.g Integer_variable = 11
    Float_variable = 1.24
    String_variable = 'Yash Patel'

Q3. How do you convert one data type to another in Python?

Ans: One need to use built-in function, to convert one data type into another. 
     e.g : a = 12
     float(a) will give us the output in 12.0

In [4]:
a = 12
a

12

In [5]:
float(a)

12.0

Q4. How do you write and execute a Python script from the command line?


Ans: To write python code in command line, we first need to tell the cmd that we will use cmd for python scripting. we need to 
     tell cmd python3, and it will open python interpreter in cmd.
     
     To execute python script from cmd we need to pass python3 file.py and it will run the file.py from cmd.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [6]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?



Ans: Complex numbers are in 2 part. One is real part and one is imaginary part.
It is represented using x +jy format; where x is real part and y is imaginary part.

In [8]:
complex_num = 5 + 4j
complex_num

(5+4j)

In [10]:
complex_num.real

5.0

In [15]:
complex_num.imag

4.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?


Ans: correct way is, age = 25, Age = 25, AGE = 25, aGE = 25

In [16]:
age = 25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [17]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [18]:
name = 'Yash Patel'
name

'Yash Patel'

Q10. Given the string "Hello, World!", extract the substring "World".

In [19]:
string_var = 'Hello, World!'
string_var[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [21]:
is_student = True
is_student

True