In [3]:
# Q1. Create one variable

# String type
stringType = 'Data Scientist'

# List type
listType = [1, 22, 34.5, True, 'Machine Learning']

# Float type
floatType = 3.14

#Tuple type
tupleType = (1, 22, 68, 'XYZ')

print(stringType)
print(listType)
print(floatType)
print(tupleType)

Data Scientist
[1, 22, 34.5, True, 'Machine Learning']
3.14
(1, 22, 68, 'XYZ')

In [4]:
# Q2. Given are some following variables containing data:

# i. var1 = ''  --> Str
var1 = ''
print(type(var1))

# ii. var2 = '[DS, ML, Python]'  --> Str
var2 = '[DS, ML, Python]'
print(type(var2))

# iii. var3 = ['DS', 'ML', 'Python']  --> list
var3 = ['DS', 'ML', 'Python'] 
print(type(var3))

# iv. var4 = 1 --> int
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [5]:
# Q3. Explain the use of following operations using an example

# i. /
""""
'/' is the divison operator.
"""

a = 10
b = 3
c = a/b
print(c)

# ii. %
""""
'%' is the modulus operator. It will give the remainder
"""

a = 10
b = 3
c = a%b
print(c)

# iii. //
""""
'//' is the floor division operator. It will give the division in integer format and not in decimal format.
"""

a = 10
b = 3
c = a//b
print(c)

# iv. **
""""
'**' is the exponential operator.
"""

a = 3
b = 4
c = a**b
print(c)

3.3333333333333335
1
3
81

In [6]:
# Q4. List of items and accessing it using for loop.

List = [1, 22.2, 'Admin', True, False, 'Data', 4+5j, 'Stats', 444, 123]

for li in List:
    print(li,type(li))

1 <class 'int'>
22.2 <class 'float'>
Admin <class 'str'>
True <class 'bool'>
False <class 'bool'>
Data <class 'str'>
(4+5j) <class 'complex'>
Stats <class 'str'>
444 <class 'int'>
123 <class 'int'>

In [21]:
# Q5. Checking number is divisible by a particular number

A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

if A%B == 0:
    counter = 0
    while A>0:
        A = A//B
        counter +=1
    print(counter)    
else:
    print("A is not purely divisible by B")

Enter the value of A: 8
Enter the value of B: 2
4

In [23]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#     divisible by 3 or not.

List = [2,5,7,11,13,19,23,29,43,47,52,59,69,102,203,594,1469,3012,1125,324,2512,192,2020,1234,76886]

for li in List:
    if li % 3 == 0:
        print('{} is divisible by 3.'.format(li))
    else:
        print('{} is not divisible by 3.' .format(li))

2 is not divisible by 3.
5 is not divisible by 3.
7 is not divisible by 3.
11 is not divisible by 3.
13 is not divisible by 3.
19 is not divisible by 3.
23 is not divisible by 3.
29 is not divisible by 3.
43 is not divisible by 3.
47 is not divisible by 3.
52 is not divisible by 3.
59 is not divisible by 3.
69 is divisible by 3.
102 is divisible by 3.
203 is not divisible by 3.
594 is divisible by 3.
1469 is not divisible by 3.
3012 is divisible by 3.
1125 is divisible by 3.
324 is divisible by 3.
2512 is not divisible by 3.
192 is divisible by 3.
2020 is not divisible by 3.
1234 is not divisible by 3.
76886 is not divisible by 3.

In [24]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.


# Ans. 
""" Immutable data types such as string. Once, created we not modify it, we can ofcourse override the value but 
    can't change any perticular value.
    Mutable data types such as list. Once, we create it we can update any perticular value at any given time.
"""

ImmutableType = 'Data Science'
MutableType = ['Data', 'Science']

ImmutableType[1] = 'O'

TypeError: 'str' object does not support item assignment

In [25]:
MutableType[1] = 'Analyst'
MutableType

['Data', 'Analyst']